body{
            background: url("../imagelogin.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 537px;
        }
        .signup{
            width: 400px;
            height: 400px;
            margin-left: 130px;
            margin-top: 50px;
            padding: 20px;
        }
        th,td{
            padding: 5px;
        }
        #buttontable{
            margin-left: 30px;
            padding-top: 20px;
        }
        a{
        	text-decoration: none;
        	color:black;
        }
        a:hover{
        	color:white;
        }
        .submit,.reset{
            height: 35px;
            width: 100px;
            border: none;
            outline: none;
            cursor:pointer;
        }
        .reset:hover{
            background-color: tomato;
            color:white;
        }
        .submit:hover{
            background-color:#14b314eb;
            color:white;
        }
        label,h2{
            color: white;
        }
        #male{
            margin-left: 0%;
            padding: 0 40px   ;
        }
        input{
            outline: none;
        }
        #errormsg{
        	color:white;
        	font-size:20px;
        }