* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.fromto span {
	margin-bottom: -16px;
	display: block;
	font-size: 25px;
	font-family: auto;
}

body {
	background: color("#D4EFDF");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#nav ul {
	display: flex;
	justify-content: space-between;
	padding: 26px;
}

#nav li {
	display: inline-block;
}

#buslogo {
	font-style: italic;
	font-family: cursive;
	font-size: 23px;
	color: rgb(95, 95, 224);
}

#nav ul li a:hover {
	background-color: #4eaad9;
	color: white;
	padding: 12px;
	border-radius: 10px;
}

#nav {
	background: white;
	width: 100%;
	top: 0;
	box-shadow: 0px 0px 9px 0px black;
}

#nav a {
	text-decoration: none;
	font-size: 20px;
}

#searchlocation input {
	height: 30px;
	width: 220px;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
}

.inputtype {
	font-size: 20px;
	background-color: white;
	padding: 15px 20px;
	border-radius: 5px;
	margin-top: 10px;
}

#searchlocation table, tr, td {
	box-shadow: -8px 4px 20px 0px #4283af52;
	padding: 0px;
	border-spacing: 0px;
	margin: auto;
}

#searchlocation {
	padding: 40px;
	border: 1px solid black;
	border-radius: 15px;
	height: 247px;
	width: 1030px;
	margin-left: 150px;
	margin-top: 140px;
	background: linear-gradient(45deg, #0aacf9, #1197e566);
	Border: none;
}

.fromto {
	width: 300px;
	font-size: 20px;
	padding: 20px;
	margin-top: 0px;
	text-align: center;
}

#searchbutton {
	height: 50px;
	width: 200px;
	margin-top: 70px;
	margin-left: 360px;
	color: black;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px black;
}